.arroz {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    background: rgb(255, 20, 147);
}
.arroz a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(255, 255, 255);
}
.arroz a:hover {
    background-color: rgb(197, 27, 137);
}
@media all and (max-width: 800px) {
    .arroz {
        justify-content: space-around;
    }
}
@media all and (max-width: 500px) {
    .arroz {
        flex-direction: column;
    }
}

/* Segunda flexbox */
.feijao {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.feijao > * {
    padding: 10px;
    flex: 1 100%;
}
.header {
    background: tomato;
}
.rodape {
    background: lightgreen;
}
.main {
    text-align: left;
    background: deepskyblue;
}
.lado-1 {
    background: gold;
}
.lado-2 {
    background: hotpink;
}
@media all and (min-width: 600px) {
    .lado {flex: 1 0 0;}
}

@media all and (min-width: 800px) {
    .main   {flex: 3 0px;}
    .lado-1 {order: 1;}
    .main   {order: 2;}
    .lado-2 {order: 3;}
    .rodape {order: 4;}
}
body {
    padding: 2em;
}